<!doctype html>
<html>    

    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />

        <meta name="format-detection" content="telephone=no" />

        <meta name="format-detection" content="email=no" />

        <meta name="format-detection" content="address=no;">

        <meta name="apple-mobile-web-app-capable" content="yes" />

        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <title>
            嗨个购
        </title>        
        <script>
			var u=encodeURI("http://h5.higegou.com/wx/getwxpos");			          						   				          						        
     		window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx0cef7e835f598e36&redirect_uri="+u+"&response_type=code&scope=snsapi_base&state=123&connect_redirect=1#wechat_redirect";       
     		</script>
</head>
<body></body>        
