@(id:Integer)(postmanUser : models.postman.PostmanUser)(companys:Html)
@import play.Configuration
@views.html.main {
<!-- css -->
}{
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		用户信息<small>@if(id == 0){新建用户}@if(id > 0){修改信息}</small>
	</h1>
</section>

<!-- Main content -->
<section class="content">
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form role="form" action="/postmanuser/savePostmanUser" method="post" id="postmanUserForm">
               <input type="hidden" id="id" name="id" value="@id">
               <div class="box-body">
               	<div class="row">
                <div class="col-xs-3">
                	<label>快递员ID:@id</label>
		    	</div>
                 </div>
                  <div class="row">
                   <div class="col-xs-3">
					<label>姓名:</label>
					<input type="text" class="form-control" id="nickname" name="nickname" value="@if(postmanUser==null){}else{@postmanUser.getNickname()}" >
					<p class="help-block" id="nicknameP" style="display:none;">请输入姓名</p>
                   </div>
                  </div>
                  <div class="row">
                   <div class="col-xs-3">
					<label for="phone">手机号:</label>
					<input type="text" class="form-control" id="phone" name="phone" maxlength="11" value="@if(postmanUser==null){}else{@postmanUser.getPhone()}" onkeyup ="this.value=this.value.replace(/[^\d]/g,'')" onblur="this.value=this.value.replace(/[^\d]/g,'')">
                   </div>
                  </div>
                  <div class="row">
                   <div class="col-xs-3">
					<label>身份证号:</label>
					<input type="text" class="form-control" id="cardidno" name="cardidno" maxlength="18" value="@if(postmanUser==null){}else{@postmanUser.getCardidno()}" >
					<p class="help-block" id="cardidnoP" style="display:none;">请输入身份证号</p>
                   </div>
                  </div>
                  <div class="row">
                   <div class="col-xs-3">
					<label>快递公司:</label>
					<select id="companyid" name="companyid" class="form-control" >
						@companys
					</select>
					<p class="help-block" id="companyidP" style="display:none;">请选择快递公司</p>
                   </div>
                  </div>
                  <div class="row">
                   <div class="col-xs-3">
					<label>分站名称:</label>
					<input type="text" class="form-control" id="substation" name="substation" maxlength="18" value="@if(postmanUser==null){}else{@postmanUser.getSubstation()}" >
					<p class="help-block" id="substationP" style="display:none;">请输入分站名称</p>
                   </div>
                  </div>
                  <div class="row" >
                   <div class="col-xs-3">
					<label>工号:</label>
					<input type="text" class="form-control" id="staffid" name="staffid" maxlength="18" value="@if(postmanUser==null){}else{@postmanUser.getStaffid()}" >
					<p class="help-block" id="staffidP" style="display:none;">请输入工号</p>
                   </div>
                  </div>
               </div><!-- /.box-body -->

               <div class="box-footer">
                 <button type="button" class="btn btn-primary" id="savePostmanUserBtn">保存</button>
                 <button class="btn btn-primary" type="button" onclick="history.go(-1)">返回</button>
               </div>
             </form>
		</div>
	</div>
</div>
</section>
}{
<script type="text/javascript">
//提交表单，保存用户信息
$("#savePostmanUserBtn").click(function(){
	var flag = true;
	var nickname = $('[name="nickname"]').val();
	var phone = $('input[name="phone"]').val();
	var cardidno = $('input[name="cardidno"]').val();
	var companyid = $('input[name="companyid"]').val();
	var substation = $('input[name="substation"]').val();
	var staffid = $('input[name="staffid"]').val();
	if(nickname==""){
		$("#nicknameP").attr("style","color:red");
		flag = false;
	}
	if(phone==""){
		$("#phoneP").attr("style","color:red");
		flag = false;
	}
	if(cardidno==""){
		$("#cardidnoP").attr("style","color:red");
		flag = false;
	}
	if(companyid==""){
		$("#companyidP").attr("style","color:red");
		flag = false;
	}
	if(substation==""){
		$("#substationP").attr("style","color:red");
		flag = false;
	}
	if(staffid==""){
		$("#staffidP").attr("style","color:red");
		flag = false;
	}
	if(flag){
		$('[name="nickname"]').removeAttr("disabled"); 
		$('input[name="cardidno"]').removeAttr("disabled"); 
		$('input[name="companyid"]').removeAttr("disabled"); 
		$('input[name="substation"]').removeAttr("disabled"); 
		$('input[name="staffid"]').removeAttr("disabled"); 
		console.log("succeful , submit");
		$("#savePostmanUserBtn").hide();
		$("#postmanUserForm").submit();
	}else{
		alert("有非法内容，请检查内容合法性！");
		return false;
	}
})
//给删除商品图片设置值
function setImageDelete(imageid){
	$('#imageidDelete').val(imageid);
}
//删除商品图片确认button
$('#deleteImageConfirmButton').on('click', deleteImageConfirm);
//删除商品图片
function deleteImageConfirm(){
	var imageidDelete=$('#imageidDelete').val();
	$.ajax({
        url: '/postmanUser/deletepostmanUserImg/' +imageidDelete ,
        type: 'GET',
        cache: false,
        dataType: "json",
        data: {},
        success: function(json){
            if(json){
            	$('#'+imageidDelete).remove();
            	$("#deleteImage").modal('hide');
            }else{
                alert('服务器繁忙，请稍后再试！');
            }
        },
        error: function(){
            alert('服务器繁忙，请稍后再试！');
        }
    });
}
//实例化编辑器
var um = UM.getEditor('newscontentDetail');
//保存商品详情
//提交表单，保存商品信息
$("#savenewspostmanUserBtn").click(function(){
	var flag = true;
	var newstitle = $('input[name="newstitle"]').val();
	var newsstart_tim = $('input[name="newsstart_tim"]').val();
	var newsend_tim = $('input[name="newsend_tim"]').val();
	var newsnsort = $('input[name="newsnsort"]').val();
	if(newstitle==""){
		$("#newstitleP").attr("style","color:red");
		flag = false;
	}
	if(newsstart_tim==""){
		$("#newsstart_timP").attr("style","color:red");
		flag = false;
	}
	if(newsend_tim==""){
		$("#newsend_timP").attr("style","color:red");
		flag = false;
	}
	if(newsnsort==""){
		$("#newsnsortP").attr("style","color:red");
		flag = false;
	}
	if(flag){
		console.log("succeful , submit");
		$("#newspostmanUserForm").submit();
	}else{
		alert("有非法内容，请检查内容合法性！");
		return false;
	}
})
</script>
}
