@(postRewardPage : com.avaje.ebean.PagedList[models.postcontent.PostReward])(postRewardTyps:Html)
@import utils.Dates
@import play.Configuration
@import utils.Constants.PostRewardFlgs
@import utils.Constants.PostRewardTyps
@import utils.Constants.PostRewardCommisiontyps
@views.html.main {
<!-- css -->
}{
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		翻盘任务管理
	</h1>
	
</section>

<!-- Main content -->
<section class="content">
	<div class="col-xs-12">
         <div class="box box-warning">
           <div class="box-header">
           </div><!-- /.box-header -->
           <div class="box-body">
            <form action="?" method="get" id="searchpostRewardForm" name="searchpostRewardForm">
			  <div >
               	<button class="btn btn-primary" style="margin-top:10px;margin-left: 10px;" type="button" onclick="javascript:window.location.href='/postcontent/newOrUpdatePostReward'">+ 新建</button>
             </div>
             </div>
           </form>
         </div><!-- /.box-body -->
       </div><!-- /.box -->
     </div><!--col-xs-12 end 创建任务 -->
	<!-- Main row -->
	<div class="col-xs-12">
		<div class="box">
		    <div class="box-header">
		    </div>
		    <div class="box-body table-responsive">
		        <table id="postReward" class="table table-bordered table-hover">
                <thead>
                    <tr>
	                    <th>ID</th>
                        <th>奖励类型</th>
                        <th>奖励额度</th>
                        <th>随机比例(%)</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                @if(postRewardPage!=null && postRewardPage.getList() != null && postRewardPage.getList().size() > 0){
                	@for(postReward <- postRewardPage.getList()){
                    <tr class="h6" data-uid="@postReward.getId()">
                        <td>@postReward.getId()</td>
                        <td>@PostRewardTyps.typs2Message(postReward.getTyp().toInt)</td>
                        <td>@PostRewardCommisiontyps.typs2Message(postReward.getCommisiontyp()): @postReward.getCommision()@if(postReward.getCommisiontyp()==1){分} @if(postReward.getCommisiontyp()==2){%}</td>
                        <td>@postReward.getRandomval()</td>
                        <td>@PostRewardFlgs.flgs2Message(postReward.getFlg().toInt)</td>
                        <td>
                        	<a class="btn btn-info" href="/postcontent/newOrUpdatePostReward?id=@postReward.getId()" >修改</a> 
                          @if(postReward.getFlg()!=null&&postReward.getFlg()==1){
                       		<a class="btn btn-warning" href="javascript:void(0);" onclick="changePostRewardFlg(@postReward.getId(),2)">失效</a> 
                          }
                          @if(postReward.getFlg()!=null&&postReward.getFlg()==2){
                       		<a class="btn btn-success" href="javascript:void(0);" onclick="changePostRewardFlg(@postReward.getId(),1)">激活</a> 
                          }
                        </td>
                    </tr>
                    }
                }else{
                    <tr><td class="text-center" colspan="6">没有可用数据</td></tr>
                }
                </tbody>
                <tfoot>
                </tfoot>
           		</table>
           		@if(postRewardPage.getTotalPageCount()>0) {
		        <div>
		            <div class="col-xs-6">
		                <div class="dataTables_info" id="userTable_info">页码：@{
		                    postRewardPage.getPageIndex() + 1
		                }/@postRewardPage.getTotalPageCount() 共计@postRewardPage.getTotalRowCount()条记录</div>
		            </div>
		            <div >
		                <div class="dataTables_paginate paging_bootstrap">
		                    <ul class="pagination">
		                    
		                     @if(postRewardPage.getPageIndex()<1){
                   					<li class="prev disabled"><a href="javascript:">首页</a></li>
			               	}else{
			               		<li class="prev"><a href="@searchParam()page=0">首页</a></li>
			               	}
			               	
                @for(index<- 0 to (postRewardPage.getTotalPageCount()-1)){
                	@if(postRewardPage.getTotalPageCount()< 8){
                		<li class="@if(index == postRewardPage.getPageIndex()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
                  	}else{
                       	@if(postRewardPage.getPageIndex()<7) {
							@if(index < 8){
								<li class="@if(index == postRewardPage.getPageIndex()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
							}else{
								@if(index == postRewardPage.getTotalPageCount()-1){
									<li class=""><a href="javascript:">...</a></li>
		                		}
			               		@if(index == postRewardPage.getTotalPageCount()-1){
			               			<li class="@if(index == postRewardPage.getPageIndex()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
		                		}
							}
						}else{	
							@if(postRewardPage.getPageIndex() < postRewardPage.getTotalPageCount()-4){
							 	@if(index==0 || index > postRewardPage.getPageIndex()-4 &&  index < postRewardPage.getPageIndex() +5){
							 		<li class="@if(index == postRewardPage.getPageIndex()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
								}else{
									@if(index == 2){
							 			<li class=""><a href="javascript:">...</a></li>
									}
									@if(index == postRewardPage.getTotalPageCount()-1){
				                		<li class=""><a href="javascript:">...</a></li>
			                		}
				               		@if(index == postRewardPage.getTotalPageCount()){
				                		<li class="@if(index == postRewardPage.getPageIndex()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
			                		}
								}
							}else{
								@if(index==0 || index > postRewardPage.getTotalPageCount()-8){
									<li class="@if(index == postRewardPage.getPageIndex()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
							   		}else{
							   			@if(index==2){
							   				<li class=""><a href="javascript:">...</a></li>
							   			}
							   		}
							   	}
			  				 }
						}  
                      }
                      @if(postRewardPage.getPageIndex()==postRewardPage.getTotalPageCount()){
                      	<li class="next disabled"><a href="javascript:">尾页</a></li>
                      }else{
                      	<li class="next"><a href="@searchParam()page=@{postRewardPage.getTotalPageCount()-1}">尾页</a></li>
                      }
		                    </ul>
		                </div>
		            </div>
		        </div>
		        }
		    </div>
		</div>
	</div>
	<!-- /.row (main row) -->

</section>
}{
<script type="text/javascript">
function changePostRewardFlg(id, flg){
	if(flg==2){
		var flagStr = confirm("请再次确认对此翻牌任务进行激活处理！");
		
		if(flagStr == true){
			console.log("succeful , change flg 1");
			window.location.href="/postcontent/changePostRewardFlg?id="+id+"&flg="+flg;
		}else{
			console.log("用户取消激活翻牌任务操作");
			return false;
		}	
	}else if(flg==1){
		var flagStr = confirm("请再次确认对此翻牌任务进行失效处理！");
		if(flagStr == true){
			console.log("succeful , change flg 2");
			window.location.href="/postcontent/changePostRewardFlg?id="+id+"&flg="+flg;
		}else{
			console.log("用户取消失效翻牌任务操作");
			return false;
		}	
	}
}
</script>
}
